<main>
  <header>
    <div class="first-part">
      <h3 class="first-part__title">نظام ادارة المهام <br> <span>task management system</span></h3>
    </div>
    <div class="second-part">
      <h3 class="second-part__title">ادارة الموظفين</h3>
      <div class="second-part__logo-wrap">
        <img class="second-part__logo" src="assets/images/twitter.svg">
      </div>
    </div>
    <img class="barcode" src="assets/images/barcode.jpg">
  </header>

  <app-todo-list></app-todo-list>
</main>

<div class="toggle-dir" dir="ltr">
  <h3>toggle direction</h3>
  <input type="radio" id="ltr" value="ltr" [ngModel]="'ltr'" (ngModelChange)="updateDir($event)">
  <label for="ltr">LTR</label><br>
  <input type="radio" id="rtl" value="rtl" ngModel (ngModelChange)="updateDir($event)">
  <label for="rtl">RTL</label>
</div>